<html>
    <head>
        <meta charset="UTF-8">
        <title>Rescue</title>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto|Bree+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link rel="stylesheet" href="css/resources.css">
        <link rel="stylesheet" href="css/about.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
       <div class="header-background">
           <header>
            <div class="title-bar">
                <h1 class="title">Rescue <i class="fas fa-parachute-box"></i></h1>
            </div>
        </header>
        <section>
            <div class="landing-text-wrapper">
               <img class="graphic" src="images/landing.svg" alt="landing">
                <h1 class="landing-text">Rescue ____ .</h1>
                <h3 class="header-text custom">Connecting everyday superheroes to those in need during times of crisis.</h3>
            </div>
        </section>
       </div>
       <div class="body-background">
           <section>
             <div class="text-container">
                <div class="text-head-container">
                     <h2 class="header-text lite lg">A flexible webapp that aims to save lives during natural disasters.</h2>
                     <div class="small-wrapper">
                         <h3 class="body-text liter">Traditional emergency services are often disrupted and or overwhelmed during natural disasters. Rescue allows volunteers to play their part in saving their communities during times of need.</h3>
                     </div>
                </div>
                <div class="demo-container">
                    <div class="demo-wrapper">
                   <p class="header-text lite">Choose between rescuee or rescuer.</p>
                   <img class="ss" src="images/homepage.png" alt="homepage">
               </div>
               <div class="demo-wrapper">
                   <p class="header-text lite">Find people who are in need of help in real time.</p>
                   <img class="ss" src="images/rescuer_view.png" alt="rescure_view">
                </div>
                <div class="demo-wrapper">
                   <p class="header-text lite">View important information about rescuees in distress.</p>
                   <img class="ss" src="images/more_info.png" alt="more_info">
                </div>
                <div class="demo-wrapper">
                   <p class="header-text lite">Recieve live notifications when rescuers are heading your way.</p>
                   <img class="ss" src="images/waiting.png" alt="waiting">
                   <img class="ss" src="images/recieved.png" alt="recieved">
                </div>
               </div>
               <div>
               </div>
             </div>
           </section>
       </div>
       
        
    </body>  
</html>
