<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Rescue</title>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto|Bree+Serif" rel="stylesheet">
        <link rel="stylesheet" href="css/resources.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="title-bar">
                <h1 class="title">Rescue <i class="fas fa-parachute-box"></i></h1>
            </div>
        </header>
        <div class="header-container">
            <h4 class="header-text">Connecting everyday superheroes to those in need during times of crisis.</h4>
        </div>
        <div class="button-container">
           <p class="button-label">Connect with nearby rescuers instantly.</p>
            <div class="button-wrapper">
               <a href="/rescueme"><button class="btn-lg"><p class="body-text">Rescuee</p></button></a>
            </div>
           <p class="button-label">Save a life right now.</p>
            <div class="button-wrapper">
                <a href="/rescuer"><button class="btn-lg"><p class="body-text">Rescuer</p></button></a>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
