<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Save My Ass</title>
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="css/resources.css">
        <link rel="stylesheet" href="css/index.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/siwalikm/quick-form-css@2.2.2/qfc-dark.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    
   <head>
    <body>
        
         
        </div>
      </body>
     
      
      </html>

      
      <html>