<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Rescuer</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


        <link rel="stylesheet" href="css/resources.css">
        <link rel="stylesheet" href="css/rescuer.css">
    </head>
    <body>
        <div id="map">
        </div>
        <div class="victims">
            <div class="card" id="c1">
                <div class="info-wrapper">
                    <h4 class="card-header-text">Victim ID</h4>
                    <div class="details body-text">
                        <div class="info-block">Distance: 3mi</div> <div class="info-block">Severity: Low</div>
                    </div>
                </div> 
            </div>
            <div class="card" id="c2">
                <div class="info-wrapper">
                    <h4 class="card-header-text">Victim ID</h4>
                    <div class="details body-text">
                        <div class="info-block">Distance: 100mi</div> <div class="info-block">Severity: High</div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="card expanded" id="e1">
            <button class="btn-dismiss"><i class="fas fa-times"></i></button>
            <div class="info-container">
                <div class="expanded-card-header">
                    <h4 class="card-header-text">Victim ID</h4>
                </div>
                <div class="info-wrapper">
                    <p class="body-text">Distance: 3mi</p>
                    <p class="body-text">Severity: Low</p>
                    <p class="body-text">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="button-wrapper">
                    <button class="btn">Rescue</button>
                </div>
            </div>
        </div>
        <div class="card expanded" id="e2">
            <button class="btn-dismiss"><i class="fas fa-times"></i></button>
            <div class="info-container">
                <div class="expanded-card-header">
                    <h4 class="card-header-text">Victim ID</h4>
                </div>
                <div class="info-wrapper">
                    <p class="body-text">Distance: 100mi</p>
                    <p class="body-text">Severity: High</p>
                    <p class="body-text">Description: This dood dead.</p>
                </div>
                <div class="button-wrapper">
                    <button class="btn">Rescue</button>
                </div>
            </div>
        </div>
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous">
        </script>

        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD54tRMyjOB8mJCrMWI2-UYkfC6_MaY1PQ&callback=initMap">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

        <script src="js/rescuer.js"></script>
    </body>
</html>
