<html>
    <head>
        <title>Save My Ass</title>
        <meta name="viewport" content="width=device-width">
        <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
        <script src="js/vctim.js.js"></script>
    </head>
    <body>
        <h1>Please enable location services</h1>
        <h3>Questions:</h3>
        <div>
            <p>Are you critically injured?</p>
            <button>yes</button>
            <button>no</button>
        </div>

        <div>
            <p>How many people need to be evacuated?</p>
            <button>yes</button>
            <button>no</button>
        </div>

        <div>
            <p>How many people need to be evacuated?</p>
            <button>yes</button>
            <button>no</button>
        </div>

        <div>
            <p>Do you need any medication?</p>
            <button>yes</button>
            <button>no</button>
        </div>
    </body>
</html>
