body {
    margin: 0;
    background: #f4f4f4;
}

.card {
    height: 1.6em;
    border: .1em solid gray;
}

.victims {
    visibility: visible;
    height: 30%;
    overflow: auto;
}

.container {
    margin-top: 2em;
    text-align: center;
}

.btn-lg {
    height: 8em;
    width: 18em;
    border-radius: 1.5em;
    border: .05em solid #e0e0e0;
    background-color: ghostwhite;
    box-shadow: 0em 0em 3em #dddddd;
}

.button-container {
    margin-top: 3em;
    text-align: left;
}

.button-wrapper {
    text-align: center;
    padding-bottom: 1em;
}

.button-label {
    margin-left: 1em;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    color: #8c8c8c; 
}
