html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background: #eaeaea;
}
.card {
    border: .05em solid #dddddd;
    margin: .2em;
    border-radius: 1em;
    background-color: white;
}
.victims {
    height: 30%;
    overflow: auto;
    background:#eaeaea
}
.card-header-text {
    font-family: 'Libre Baskerville', serif;
    color: #454444;
}
.info-wrapper {
    margin-left: 1em;
}

.info-block {
    display: inline-block;
    width: 10em;
}

.details {
    margin-bottom: 1em;
}

.expanded {
    display: none;
}

.expanded-card-header {
    text-align: center;
}

.button-wrapper {
    text-align: center;
}

.info-container {
    margin-bottom: 1em;
}

.btn-dismiss {
    margin-top: 1em;
    border: .01em solid gray;
    border-radius: .5em;
    position: absolute;
    height: 2em;
    width: 2em;
    right: 1em;
}

#map {
    height: 70%;
}


