.header-text {
    font-family: 'Libre Baskerville', serif;
    color: #454444;
}

.body-text {
    font-family: 'Roboto', sans-serif;
    color: #8c8c8c;
}
.btn {
    color: gray;
    background-color: whitesmoke;
    width: 15em;
    height: 2em;
    border: .01em solid lightgray;
    box-shadow: 0em 0em 1em #969696;
    border-radius: .5em;
}

.title {
    font-family: 'Bree Serif', serif;
    font-size: 20pt;
    margin: 0;
    margin-left: .2em;
    color: aliceblue;
}

.title-bar {
    padding-top: .5em;
    background-color: #383838;
}

.header-container {
    margin-left: 1em;
    margin-right: 1em;
}



.logo-link {
    text-decoration: none;
}
